<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.app_kotlincomroom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_KotlinComRoom">
        <activity
            android:name="br.com.alura.orgs.ui.activity.LoginActivity"
            android:exported="false" />
        <activity android:name="br.com.alura.orgs.ui.activity.DetalhesProdutoActivity" />
        <activity android:name="br.com.alura.orgs.ui.activity.FormularioProdutoActivity" />
        <activity
            android:name= "br.com.alura.orgs.ui.activity.ListaProdutosActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.CadastroUsuarioActivity"
            android:exported="false">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>